body{
    display: flex;
    flex-direction: column;
    background-image: url(images/bg.jpg);
    font-family: 'Bradley Hand', cursive;
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 450px;
    margin-right: 50px;
}

.buttons button {
    height: 60px;
    width: 120px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
    background-color: rgb(207, 206, 206);
    font-size: 26px;
    font-family: 'Apple Chancery', cursive;
}

.container{
    display: grid;
    height: 700px;
    width: 700px;
    border: 1px solid black;
    background-color: white;
    flex-wrap: wrap;
    gap: 0px;
}

#btnAndCont{
    display: flex;
    margin-top: 150px;
}

.square,
.erase{
    display: flex;
    margin: 0;
    border: 1px solid gray;
    background-color: white;
    flex-wrap: wrap;
}

.hover{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    background-color: black;
    border: 1px solid black;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 206, 206);
    height: 50px;
    font-size: 22px;
    gap: 5px;
    margin-top: 29px;
}

footer img {
    height: 30px;
    width: 30px;
}

footer a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}